body{

    background-image: url("weng.gif");
    height: 1000hv;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
marquee {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    text-align: center;
}
